#[link(name = "rustray",
       vers = "0.7",
       uuid = "c89c5834-63db-4a6e-8e0a-d75985b1730e",
       url = "https://github.com/brson/rustray")];

#[comment = "A toy ray tracer in Rust"];
#[author = "Sebastian Sylvan"];
#[license = "Unknown"];
#[crate_type = "bin"];

extern mod std;

pub mod consts;
pub mod main;
pub mod math3d;
pub mod model;
pub mod raytracer;
pub mod concurrent;
